* {
  box-sizing: border-box;
  font-family: 'Verdana';
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to right, #7f53ac 0, #657ced 100%);
  color: white;
}

input {
  border-radius: 5px;
  width: 100%;
  padding: 8px 10px;
  outline: none;
  border: none;
  background: #32364a;
  color: white;
}

#app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
  padding: 1rem 1rem;
  border-radius: 1rem;
  text-decoration: none;
  max-width: 300px;
  width: 100%;
  background: linear-gradient(45deg, #35394a 0%, #1f222e 100%);
}

.input-container p {
  font-size: 0.7rem;
  font-weight: bold;
  color: #f15273;
  margin-top: 15px;
}

.modal {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4rem 2rem 2rem 2rem;
  line-height: 1.7rem;
  border-radius: 1rem;
  background: linear-gradient(45deg, #35394a 0%, #1f222e 100%);
}

.modal p {
  margin-top: 30px;
}

.modal span {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 1.1rem;
  cursor: pointer;
  color: #f15273;
}
